.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.header  li {
    float: left;
    padding: 1.5em;
  }
.header a {
     color: white;
     text-decoration: none;
}